
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $Background-Color;
    font-family: 'Heebo', sans-serif;
    color: $Dark-Color;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
}

li {
    list-style-type: none;
}