.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    margin-bottom: 80px;
    
    background-image: url('img/Ellipse2.svg');
    background-repeat: no-repeat;
    background-position: top 20px right 13px;
    
    &__wrapper {
        display: flex;
        flex-direction:column;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__text {
        width: 500px;
        margin-bottom: 40px;
    }
    &__link {
        width: 208px;
        padding: 9px 20px 12px 20px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: white;
        background-color: $Primary-Color;
        border-radius: 2px;
        cursor: pointer;
    }
}