.post {
    background-color: $Background2-Color;
    padding: 30px 0px 30px 0px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }
    &__title {
        font-weight: 400;
        font-size: 22px;
        line-height: 60px;
    }
    &__link {
        color: $Secondry-Color;
        &:hover {
            color: $Primary-Color;
        }
    }
    .post__cards {
        display: flex;
        gap: 30px;
    }

    .card {
        background-color: white;
        border-radius: 5px;
        padding: 25px;

        &__title {
            font-size: 26px;
            font-weight: 700;
            line-height: 39px;
            margin-bottom: 25px;
            }
        &__data {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
            border-right: 1px solid $Light-Color;
            padding-right: 20px;
            margin-right: 20px;
        }
        &__text {
            font-size: 16px;
        }
       &__flex {
        display: flex;
       }
    }


}
